@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
.App {
  background-color: #ffa401;
}

@media screen and (max-width: 786px) {
  .App-header {
    font-size: 12px;
  }

  h1 {
    font-family: 'Berkshire Swash', cursive;
    color: #fff3ef;
    font-size: 17px;
    padding: 14px;
    text-align: center;
  }
}

.App-header {
  margin-bottom: 20px;
  margin-top: 20px;
}
