@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

.App {
  background-color: #f5a126;
}

ol {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-family: 'Berkshire Swash', cursive;
  color: #faf9f6;
  font-size: 4rem;
  border: 4px solid white;
  display: flex;
  justify-content: center;
}

.App-header {
  margin-bottom: 20px;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 2vmin);
  color: black;
  background-color: #f5a126;
}
